.login,
.image {
    min-height: 100vh;
}

.bg-image {
    background-image: url('https://img.freepik.com/free-vector/register-access-login-password-internet-online-website-concept-flat-illustration_385073-108.jpg');
    background-size: cover;
    background-position: center center;
}