.effect-1 {
    position: relative;
}

.effect-1::before,
.effect-1::after {
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 15px;
    left: 10px;
    width: 50%;
    top: 80%;
    max-width: 300px;
    background: #aaa;
    box-shadow: 0 15px 10px #aaa;
    transform: rotate(-3deg);
}

.effect-1::after {
    transform: rotate(3deg);
    right: 10px;
    left: auto;
}